@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<header>
	<!-- TOP HEADER -->
	<div id="top-header" style=" min-height: 50px;">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a href="#"><i class="fa fa-phone"></i> +01014782114</a></li>
				<li><a href="#"><i class="fa fa-envelope-o"></i> OutfitO@gmail.com</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i> Cairo,Egypt</a></li>
			</ul>
			<ul class="header-links pull-right">
				@{
					var session = HttpContextAccessor.HttpContext.Session;
					var userName = session.GetString("UserName");
					var userId = session.GetString("UserId");
					var UserImg = session.GetString("UserImg");
				}
				@if (userName != null)
				{
					<div class="icons d-flex align-center">
						<div class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  style="color:white;">
								<i class="fa fa-user-o" style="color:#D10024;"></i> <span id="user" style="color:white;"> @session.GetString("UserName") </span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" asp-controller="Profile" asp-action="EditData" asp-route-id="@session.GetString("UserId")" style="color: black;">
										<i class="fa-solid fa-gear fa-fw"></i>
										<span>Settings</span>
									</a>
								</li>
								<li>
									<a class="dropdown-item" asp-action="Logout" asp-controller="User" asp-route-id="@session.GetString("UserId")" style="color: black;">
										<i class="fa-solid fa-sign-out-alt fa-fw"></i>
										<span>Logout</span>
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#" onclick="DeleteAccount('@session.GetString("UserId")')" style="color: black;">
										<i class="fa-solid fa-trash-alt fa-fw"></i>
										<span>Delete Account</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				}
				else if (userName == null && (ViewBag.Title == "Home Page" || ViewBag.Title == "Products"))
				{
					<a class="nav-link" asp-action="Login" asp-controller="User" role="button" style="color:white;display: inline;">
						<i class="fa fa-user-o" style="color:#D10024;"></i> <span id="user" style="color:white;"> Login </span>
					</a>
					<a class="nav-link" asp-action="Register" asp-controller="User" role="button" style="color:white;display: inline;">
						<i class="fa-solid fa-user-plus" style="color:#D10024;"></i> <span id="user" style="color:white;"> Sign Up </span>
					</a>
				}
				else
				{
					<script>
						window.location.href = "/User/Login";
					</script>
				}
			</ul>
		</div>
	</div>
	<!-- /TOP HEADER -->
	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a asp-action="Index" asp-controller="Home" class="logo">
							<h1 style="color: white;margin: 15px;">
								OutfitO
							</h1>
							@* <img src="./logo/logo.png" alt=""> *@
						</a>
					</div>
				</div>
				<!-- /LOGO -->
				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form>
							<input class="input" placeholder="Search here">
							<button class="search-btn">Search</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->
				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Cart -->
						@if (userName != null)
						{
							<div>
								<a asp-action="Index" asp-controller="Cart">
									<i class="fa fa-shopping-cart"></i>
									<span style="text-decoration:none">Your Cart</span>
									<div class="qty">@session.GetInt32("Count")</div>
								</a>
							</div>
						}
						<!-- /Cart -->
						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="fa fa-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>