@model List<OrderItem>
<div class="modal fade" id="OrderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Order Items</h5>
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn-close" asp-controller="Order" asp-action="Index"></a>
                }
                else
                {
                    <a class="btn-close" asp-controller="Order" asp-action="History"></a>
                }
            </div>
            <div class="modal-body">
                @{
                    string data = (@Model.Count() == 0) ? "" : @Model[0].Order.Date.ToString();
                    string Price = (@Model.Count() == 0) ? "" : @Model[0].Order.Price.ToString();
                }
                <h6 class="card-title">Order Date : @data </h6>
                <h6 class="card-title">Order Total Price : @Price </h6>
                <div class=" table-responsive">
                    <div class="table-container">
                        <table class="table table-border table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OrderItem orderItem in Model)
                                {
                                    <tr>
                                        <td>@orderItem.Product.Title</td>
                                        <td>@orderItem.Product.Price</td>
                                        <td>@orderItem.Quantity</td>
                                        <td>@orderItem.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-secondary" asp-controller="Order" asp-action="Index">Close</a>
                }
                else
                {
                    <a class="btn btn-secondary" asp-controller="Order" asp-action="History">Close</a>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
